name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: temurin
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt scalafmtSbtCheck "+ scalafmtCheckAll" "+test"
